* {
  margin: 0;
}
html {
  font-family: Aquatico, "Ubuntu Condensed", sans-serif;
  font-size: 20px;
}

/*Header*/

header {
  color: #e6c9c3;
  font-family: "Concert One", cursive;
  background: url(../picture/pic.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  /*margin-bottom: 20px;*/
  background-attachment: fixed;
}
header h1 {
  font-size: 4.5em;
  margin-top: 150px;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #fdccce;
  line-height: 100%;
  animation: popup 1.2s ease, trany 0.5s 1.2s ease;
}
header p {
  margin-top: 0;
  margin-left: 10px;
  letter-spacing: 0.4em;
  word-spacing: 0.3em;
  text-shadow: 1px 1px 2px #f96332;
  animation: show_me 1.5s ease-in;
}
.button {
  background-color: transparent;
  color: #f96332;
  padding: 10px 40px;
  border: 2px solid #f96332;
  text-decoration: none;
  border-radius: 20px;
  margin: 15px;
  animation: show_me 1.5s ease-in;
}
.button:hover {
  color: black;
  background: #f96332;
  border: 2px solid black;
}

/*navigation bar*/

.nav1{
	display: flex;
	background-color: white;
	box-shadow:1px 1px 4px rgb(150,200,254);
	position: sticky;
	top: 0;
	justify-content: space-between;
	height: 50px;
}

.nav1 img{
	width:25%;
	height: 180%;
	position: relative;
	top:5px;
	left:-20px;
	z-index: 1;
}

ul#navbar {
  margin-top: 5px;
  margin-right: 40px;
  background-color: transparent;
  font-size: 0.95rem;
  display: flex;
}

ul#navbar li {
  display: inline-block;
  padding: 2px;
  width: 100px;
  height: 40px;
  border: 2px solid transparent;
  text-align: center;
  overflow: hidden;
}

ul#navbar li > a {
  margin-right: 0;
  font-family: "Concert One", cursive;
  color: rgb(0, 0, 110);
  text-decoration: none;
  position: relative;
  top: -40px;
  transition: all 0.7s linear;
}

ul#navbar li > div {
  position: relative;
  left: -10px;
  top: -10px;
  width: 60%;
  height: 45px;
  z-index: -1;
  transition: all 1s ease;
  z-index: -1;
}

ul#navbar li:hover > a {
  color: white;
}

ul#navbar li:hover > div {
  background: linear-gradient(to left, rgb(67, 10, 158), rgb(219, 207, 230));
  animation: linesBtn 0.8s linear forwards;
}

/*#loc+p {
	display:none;
	position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}*/

/*Feedback*/

#feedback,
section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedback p,
#glry {
  font-family: Aquatico, "Concert One", cursive;
  font-weight: bold;
  font-size: 2.2em;
  padding-bottom: 5px;
  color: #f96332;
  width: 450px;
  text-align: center;
  letter-spacing: 3.5px;
  text-shadow: 1px 1px 1px #f96332;
}

#details {
  margin: 10px 30px;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2.5px;
  word-spacing: 1.5px;
  align-items: center;
}
#details input {
  padding: 5px;
  width: 40vw;
  margin-bottom: 10px;
  font-size: 16px;
}
#details textarea {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
  width: 40vw;
  height: 10vh;
}

#details input[type="submit"] {
  font-family: Aquatico, "Ubuntu Condensed", sans-serif;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 40vw;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 2px;
}

#details input[type="submit"]:hover {
  background: #000000;
  color: #ffffff;
  box-shadow: 1px 1px 0.5px #005151, -1px -1px 0.5px #000000;
  text-shadow: 0.5px 0.5px 1px #005151, -0.5px -0.5px 1px #005151;
}

/*About me*/

#mydetails {
	background: url(../picture/PIC-1.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	margin :0;
}
#mydetails img {
	width:20vw;
	float: left;
	margin:50px;
	margin-bottom: 30px;
}

#mydetails div{
  color: #fff;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 1px 1px 4px black;
}

#mydetails h2 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

/*footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: #000000;
  padding: 20px 0;
  justify-content: center;
}

ul.social {
  display: flex;
  list-style: none;
  padding: 0;
}
.fac,
.lin,
.dis,
.twi {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.fac {
  background-color: darkblue;
}
.fac img {
  position: relative;
}
.lin {
  background-color: #5a03c3;
}
.dis {
  background-color: #2d8143;
}
.dis img {
  position: relative;
}
.twi .fab {
  color: #fff;
  font-size: 18px;
}
.twi {
  background-color: #5d55e3;
}
.fac:hover,
.lin:hover,
.dis:hover,
.twi:hover {
  opacity: 0.6;
}

#container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*align-content: center;
	justify-content: center;*/
}
#container div {
  width: 300px;
  height: 300px;
  background-color: blue;
  /*margin: 20px;*/
}


/*this for header h1 loading time 1st effect*/
@keyframes popup {
  0% {
    opacity: 0;
    margin-top: 180px;
    margin-bottom: -40px;
  }
  50% {
    opacity: 1;
    letter-spacing: 20px;
    margin-top: 180px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 1.5px;
    margin-top: 180px;
    margin-bottom: -40px;
  }
}

/*this for header h1 loading time 2nd effect*/
@keyframes trany {
  from {
    margin-top: 180px;
    margin-bottom: -40px;
  }
  to {
    margin-top: 150px;
  }
}

/*this for header p tag loading time effect*/
@keyframes show_me {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*this for navigation bar hover effect*/
@keyframes linesBtn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

/*responsive*/
@media screen and (max-width: 500px) {
  header {
    height: 75vh;
  }
  header h1 {
    font-size: 3.5em;
    margin: 4px;
  }
  header p {
    letter-spacing: 0.3em;
    word-spacing: -0.1em;
  }
  #feedback p {
    font-size: 24px;
  }
}
